Repository AlexWayfer/sequel_migrations_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec, test

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

test:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script: bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Update version to 0.2.3
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, rspec, test

Require necessary `fileutils`
  lib/sequel_migrations_toys/template/_migration_file.rb
Due: rubocop, rspec, test

Update version to 0.2.4
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, rspec, test

Resolve new RuboCop offense
  .rubocop.yml
Due: rubocop

Update metadata in gemspec
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: none

Update `toys` and `toys-core`
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Resolve new RuboCop offenses
  lib/sequel_migrations_toys/template/_migration_file.rb
Due: rubocop, rspec, test

Update RuboCop and resolve deprecation warning
  .rubocop.yml
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Update version to 0.3.0
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, rspec, test

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
Due: remark, rubocop

Update License badge
  README.md
Due: remark, rubocop

Update `toys-core`
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: none

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  sequel_migrations_toys.gemspec
  spec/spec_helper.rb
Due: rubocop, rspec, test

Update version to 0.4.0
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, rspec, test

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: none

Add `migrations status` as alias for `migrations list`
  lib/sequel_migrations_toys/template/list.rb
Due: rubocop, rspec, test

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Move development dependencies from gemspec into Gemfile
  Gemfile
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Update all toys dependencies
  Gemfile
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Update version to 0.5.0
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, rspec, test

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Don't allow Ruby >= 4
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: none

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: none

Configure Renovate
  renovate.json
Due: none

Update `toys-core` in `.gemspec`
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Path conditions:
  remark: (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, package.json, .remarkrc.yaml, **.md)
  rubocop: (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, package.json, .remarkrc.yaml, **.md)
  rspec: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
  test: any of: .cirrus.yml, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
