Repository AlexWayfer/sequel_migrations_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, test

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script: bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  rubocop_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'package.json', '.remarkrc.yaml', '**.md'
    )

test_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[ff5091b2a159b96c7ae0887993f52f2e157f7ee94b0819e67eda72e20632d474e93380862e82292b0175abd1e86ff84c]
  test_script: bundle exec rake
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Update to a new gem template
  .rubocop.yml
  .toys.rb
  CHANGELOG.md
  README.md
  Rakefile
  sequel_migrations_toys.gemspec
Due: remark, rubocop, test

Add default for `db_migrations_dir` option
  README.md
  lib/sequel_migrations_toys/template.rb
Due: remark, rubocop, test

Split `MigrationFile.find` to `.find_one` and `.find_all`
  lib/sequel_migrations_toys/template/_migration_file.rb
  lib/sequel_migrations_toys/template/disable.rb
  lib/sequel_migrations_toys/template/enable.rb
  lib/sequel_migrations_toys/template/list.rb
  lib/sequel_migrations_toys/template/reversion.rb
  lib/sequel_migrations_toys/template/rollback.rb
  lib/sequel_migrations_toys/template/run.rb
Due: test

Update development dependencies
  sequel_migrations_toys.gemspec
Due: test

Comment out changing (frozen) `db_connection.loggers` with new Logger
  lib/sequel_migrations_toys/template/_base.rb
Due: test

Rest parts of updating to a new gem template
  .cirrus.yml
  .gitignore
Due: remark, rubocop, test

Update version to 0.1.0
  CHANGELOG.md
Due: remark, rubocop

Update example in the README
  README.md
Due: remark, rubocop

Update `toys`
  sequel_migrations_toys.gemspec
Due: test

Update version to 0.2.0
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, test

Fix `run` tool (`template` variable)
  lib/sequel_migrations_toys/template/check.rb
  lib/sequel_migrations_toys/template/rollback.rb
  lib/sequel_migrations_toys/template/run.rb
Due: test

Update version to 0.2.1
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, test

Add `sequel` as a runtime dependency
  sequel_migrations_toys.gemspec
Due: test

Update version to 0.2.2
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, test

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Drop `rubocop` and `rspec` toys, just use `bundle exec`
  .cirrus.yaml
  .toys.rb
Due: none

Fix `.cirrus.yaml` file name after file rename
  .cirrus.yaml
Due: none

Update all `remark` packages
  .remarkrc.yaml
  package.json
Due: remark, rubocop

Remove patch-version lock for stable `rubocop`
  sequel_migrations_toys.gemspec
Due: test

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  sequel_migrations_toys.gemspec
Due: test

Resolve offenses from new RuboCop
  lib/sequel_migrations_toys/template.rb
  lib/sequel_migrations_toys/template/run.rb
Due: test

Improve required Ruby version lock, avoid 3.0
  sequel_migrations_toys.gemspec
Due: test

Replace `SKIP_DB_DUMP` environment variable with `--[no-]dump` flag
  lib/sequel_migrations_toys/template/run.rb
Due: test

Allow Ruby 3 in gem specs
  sequel_migrations_toys.gemspec
Due: test

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Update `remark-gfm` to a new major version
  package.json
Due: remark, rubocop

Lock RuboCop version better
  sequel_migrations_toys.gemspec
Due: test

Update `toys` with `toys-core`
  sequel_migrations_toys.gemspec
Due: test
