Repository AlexWayfer/sequel_migrations_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec, test

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[ff5091b2a159b96c7ae0887993f52f2e157f7ee94b0819e67eda72e20632d474e93380862e82292b0175abd1e86ff84c]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script: bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  rubocop_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'package.json', '.remarkrc.yaml', '**.md'
    )

test_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[ff5091b2a159b96c7ae0887993f52f2e157f7ee94b0819e67eda72e20632d474e93380862e82292b0175abd1e86ff84c]
  test_script: bundle exec rake
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Improve updating system gems in CI
  .cirrus.yaml
Due: none

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: none

Remove `Rakefile` from Cirrus CI configuration
  .cirrus.yaml
Due: none

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, rubocop, rspec

Resolve new RuboCop offenses
  lib/sequel_migrations_toys/template/_migration_file.rb
Due: rubocop, rspec, test

Add `bundle-audit` CI task
  .cirrus.yaml
  Gemfile
Due: rubocop, rspec, test

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, rspec, test

Update `gem_toys` and `toys` dependencies
  Gemfile
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Update `alt_memery` runtime dependency
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Update RuboCop and its plugins
  Gemfile
Due: rubocop, rspec, test

Fail `remark` on any warning
  package.json
Due: remark, rubocop

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark, rubocop

Resolve Remark offense in CHANGELOG
  CHANGELOG.md
Due: remark, rubocop

Add Ruby 4.0 support
  .cirrus.yaml
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Update version to 1.0.0
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, rspec, test

Add GitHub Actions
  .github/workflows/ci.yml
Due: none

Replace Cirrus CI badge with GH Actions
  README.md
Due: remark, rubocop

Add Dependabot config
  .github/dependabot.yml
Due: none

Update `toys` dependencies
  Gemfile
  sequel_migrations_toys.gemspec
Due: rubocop, rspec, test

Update SimpleCov dependencies
  Gemfile
Due: rubocop, rspec, test

Update version to 1.1.0
  CHANGELOG.md
  lib/sequel_migrations_toys/version.rb
Due: remark, rubocop, rspec, test
